@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
  font-family: "Kode Mono", monospace;

}

body {
  background-color: #2E2A27;
}

@theme inline {
  /* --background-hero: url("/assets/images/webp/minimal-hero-bg.webp") */
}

.bg-hero {
  background-image: var(--background-hero);
}

.bg-full {
  background-size: 100% 100%;
}