@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
  font-family: "Kode Mono", monospace;

}

body {
  background-color: #2E2A27;
}

@theme inline {
  --background-sofa: url("/assets/images/png/white-sofa.png");
  --background-sofa-mobile: url("/assets/images/webp/room.webp")
}


@media (min-width:768px) {
  .bg-zoom-img {
    background-image: var(--background-sofa);
  }
}

@media (max-width:768px) {
  .bg-zoom-img {
    background-image: var(--background-sofa-mobile);
  }
}


.bg-full {
  background-size: 100% 100%;
}